@use '../../styles/global/helpers' as *;
@use '../../styles/global/colors' as colors;
@use '../../styles/global/mixins' as mix;

.gallery__card {
    overflow: hidden;
    position: relative;
    border-radius: 1rem;

    @include mix.media-up(md) {
        //min-height: 34rem;
        //min-width: 34rem;
    }


    .gallery__card-link {
        z-index: 1;
        display: block;


        &:after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            left: 0;
            background: linear-gradient(180deg, transparent 0, transparent 30%, colors.$black);
            opacity: 0.8;
            transition: opacity 0.5s ease-in-out;
        }

        &:hover {
            &:after {
                opacity: 0.65;
            }

            img {
                transform: scale(1.06);
            }
        }
    }

    .gallery__card-image {
        display: flex;

        img {
            min-height: 25.5rem;
            border-radius: 1rem;
            transition: transform 0.5s ease-in-out;

            @include mix.media-up(md) {
                aspect-ratio: 1/1;
            }
        }
    }

    .gallery__card-content {
        position: absolute;
        bottom: 2.1rem;
        left: 2.1rem;
        z-index: 2;
        padding-right: 2.1rem;
        max-width: 60%;

        .gallery__card-title {
            color: colors.$white;
            font-size: 1.8rem;
        }
    }
}