@import './fonts';
@import '../global/helpers';

*,
html,
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-base;
}

html {
    scroll-behavior: smooth;
    /* 1rem = 10px */
    font-size: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p, span, h4, h5, h6, button, input, textarea, label, select, option {
    font-size: 1.2rem;
    font-weight: $weight-medium;

    @include media-up(sm) {
        font-size: 1.8rem;
    }
}

h1, .h1 {
    font-size: 2.4rem;
    font-weight: $weight-medium;

    @include media-up(sm) {
        font-size: 4.8rem;
    }
}

h2, .h2 {
    font-size: 1.8rem;
    font-weight: $weight-medium;

    @include media-up(sm) {
        font-size: 3.6rem;
    }
}

h3 {
    font-size: 1.8rem;
    font-weight: $weight-medium;
}

.text-404 {
    font-size: 9.6rem;

    @include media-up(sm) {
        font-size: 28.8rem;
    }
}

.text-md,
nav * {
    font-size: 1.2rem;

    @include media-up(sm) {
        font-size: 2.4rem;
    }
}

.bold {
    font-weight: $weight-bold;
}

.medium {
    font-weight: $weight-medium;
}

.hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
}

.hide {
    display: none;
}

section, .section {
    margin-left: 2rem;
    margin-right: 2rem;

    @include media-up(md) {
        margin-left: 10rem;
        margin-right: 10rem;
    }
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    overflow: hidden;
    -webkit-box-orient: vertical;
}