@import '../../styles/global/_helpers';

.logement__page {
    padding: 2.7rem 0;

    @include media-up(sm) {
        padding: 5rem 0;
    }

    .logement__page-content {
        padding-top: 1.5rem;

        @include media-up(sm) {
            padding-top: 3rem;
        }
    }
}