@import '../../styles/global/_helpers';

.banner__image-container {
    position: relative;
    margin: 2.5rem 0 2.2rem;
    @include flex(row, flex-start, center);

    @include media-up(sm) {
        justify-content: center;
        margin: 4.6rem 0 4.3rem;
    }


    .banner__image-wrapper {
        width: 100%;
        display: flex;
        overflow: hidden;
        position: relative;
        border-radius: 1rem;

        @include media-up(sm) {
            border-radius: 2.5rem;
        }

        &:after {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            bottom: 0;
            left: 0;
            background: $black;
            opacity: 0.3;
        }

        .banner__image {
            max-height: 11.1rem;

            @include media-up(sm) {
                max-height: 22.3rem;
            }
        }
    }

    .banner__image-title {
        position: absolute;
        padding: 0 1.6rem;
        width: 68%;
        line-height: 1;
        text-align: left;
        letter-spacing: 0;
        color: $white;

        @include media-up(sm) {
            width: unset;
        }
    }
}