@use '../../styles/global/helpers' as *;
@use '../../styles/global/colors' as colors;
@use '../../styles/global/mixins' as mix;

.logement__page-content__header {
    color: colors.$primary;

    @include mix.media-up(md) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .content__header-left {
        margin-bottom: 1.6rem;
        @include mix.media-up(md) {
            max-width: 85%;
        }

        .title {
            line-height: 122%;
            margin-bottom: 0.5rem;
        }

        .location {
            font-size: 1.4rem;
            margin-bottom: 1rem;

            @include mix.media-up(md) {
                max-width: 85%;
                font-size: 1.8rem;
            }
        }

        .content__header-tags {
            display: flex;

            .tag {
                margin-right: 1rem;
            }
        }
    }

    .content__header-right {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mix.media-up(md) {
            flex-direction: column-reverse;
            align-items: flex-end;
        }

        .rating {
            display: flex;
            align-items: center;
            margin-right: 1rem;
            flex-wrap: nowrap;

            @include mix.media-up(md) {
                margin: 0;
            }
        }

        .content__header-right__host {
            display: flex;
            align-items: center;
            justify-content: center;

            @include mix.media-up(md) {
                margin-bottom: 2rem;
            }

            .host__name {
                max-width: 60%;
                text-align: right;
            }

            img {
                width: 3.2rem;
                height: 3.2rem;
                border-radius: 50%;
                margin-left: 1rem;

                @include mix.media-up(md) {
                    width: 6.4rem;
                    height: 6.4rem;
                }
            }
        }
    }
}