@use '../../styles/global/helpers' as *;
@use '../../styles/global/colors' as colors;
@use '../../styles/global/mixins' as mix;
@use '../../styles/global/variables' as vars;

.header {
    @include mix.flex(row, space-between, center);
    padding-top: 2rem;

    @include mix.media-up(sm) {
        padding-top: 4.5rem;
    }

    .header__logo {
        max-width: 14.5rem;

        @include mix.media-up(sm) {
            max-width: 21rem;
        }
    }

    .header__nav {
        ul {
            @include mix.flex(row, space-between, center);
            width: 100%;

            .header__nav-link {
                margin-left: 2.6rem;
                transition: color 0.3s ease-in-out;
                text-transform: uppercase;
                color: black;
                display: block;
                white-space: nowrap;
                font-size: 1.2rem;
                font-weight: vars.$weight-medium;

                @include mix.media-up(sm) {
                    font-size: 2.4rem;
                }

                @include mix.media-up(sm) {
                    text-transform: unset;
                    margin-left: 6.3rem;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 0;
                    height: 1px;
                    background: black;
                    transition: all 0.3s ease-in-out;
                }

                &:hover {
                    &:after {
                        width: 100%;
                        background: black;
                    }
                }

                &.active {
                    &:after {
                        width: 100%;
                    }
                }
            }
        }
    }
}