@use '../../styles/global/helpers' as *;
@use '../../styles/global/colors' as colors;
@use '../../styles/global/mixins' as mix;

.gallery__container {
    margin-bottom: 2.7rem;
    @include mix.media-up(sm) {
        background: colors.$grey;
        border-radius: 2.5rem;
        margin-bottom: 5rem;
    }

    @include mix.media-up(md) {
        padding: 5.6rem 5rem;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;

        @include mix.media-up(sm) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include mix.media-up(md) {
            grid-template-columns: repeat(3, 1fr);
        }

        @include mix.media-up(lg) {
            column-gap: 6rem;
            row-gap: 5rem;
        }

        @include mix.media-up(huge) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}