@import '../../styles/global/_helpers';

.accordion {
    margin-bottom: 2rem;

    &.is-open {
        .accordion__title {
            border-radius: 5px 5px 0 0;

            @include media-up(md) {
                border-radius: 10px 10px 0 0;
            }

            .accordion__logo {
                transform: rotate(180deg);
            }
        }

        .accordion__content {
            height: auto;
            max-height: 9999px;
            transition: max-height 0.3s cubic-bezier(1, 0, 1, 0), padding 0.1s ease-in;
            padding: 1.3rem 2rem 1.9rem;
            opacity: 1;

            @include media-up(md) {
                padding: 2.5rem 2rem 2rem;
            }

            p {
                opacity: 1;
                transition: opacity 0.2s ease-in-out 0.2s;
            }
        }
    }

    .accordion__title {
        padding: 0.6rem 1rem 0.6rem 1rem;
        color: $white;
        font-weight: $weight-medium;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;
        background: $primary;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        @include media-up(md) {
            padding: 1rem 2rem 1rem 1rem;
            border-radius: 10px;
        }

        &:hover {
            filter: contrast(130%) saturate(130%) drop-shadow(0 0 0.5rem rgba(255, 96, 96, 0.82))
        }

        .h3 {

            font-size: 1.3rem;

            @include media-up(md) {
                font-size: 1.8rem;
            }
        }

        .accordion__logo {
            width: 18px;
            height: 18px;
            transition: all 0.3s ease-in-out;

            @include media-up(md) {
                width: 32px;
                height: 32px;
            }
        }
    }

    .accordion__content {
        background: $grey;
        border-radius: 0 0 5px 5px;
        color: $primary;
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0, 1, 0, 1), padding 0.22s 0.1s ease-out;

        p {
            opacity: 0;
            transition: opacity 0.1s ease-in-out;
        }

        @include media-up(md) {
            border-radius: 0 0 10px 10px;
        }
    }
}